/* Reset base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: system-ui, sans-serif;
    background-color: #f5f5f5;
    color: #222;
    overflow: hidden;
}
h4{
    text-align: center;
}



/* Sezioni */
.page-section {
    display: none;
    padding: 1.5rem;
    animation: fadeIn 0.3s ease;
}

.page-section.active {
    display: block;
}

/* Effetto transizione */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(10px); }
    to   { opacity: 1; transform: translateY(0); }
}

/* Bottom Nav */
.mobile-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: center;
    border-top: 1px solid #444;
    z-index: 1000;
}

.nav-links {
    display: flex;
    width: 100%;
    max-width: 500px;
    justify-content: space-around;
    padding: 0.5rem 0;
}

.nav-links a {
    color: #aaa;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.2rem;
    transition: color 0.3s ease;
}

.nav-links a i {
    width: 24px;
    height: 24px;
}

.nav-links a.active,
.nav-links a:hover {
    color: #fff;
}

/* Form */
#study-form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 1rem;
}

#study-form input, #study-form button {
    font-size: 1rem;
    border-radius: 6px;
}
.inputMateria{
    border: 1px solid #ccc;
}

#study-form button {
    background: #333;
    color: white;
    cursor: pointer;
    border: none;
    padding: 0.6rem;
}

.info-list {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  height: 40vh;
  overflow-y: auto;
}

.info-list li {
  background: linear-gradient(135deg, rgba(236, 244, 251, 0.4), #FFFFFF);
  margin: 0.625rem 0;
  padding: 0.75rem 0.9375rem;
  border-radius: 0.5rem;
  font-size: 0.95rem;
  box-shadow: 0 0.125rem 0.375rem rgba(0,0,0,0.05);
  display: flex;
  gap: 0.625rem;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.info-list li::before {
  content: "✔";
  color: #3498db;
  font-weight: bold;
}


#ricerca-materie{
 padding: 0.6rem;
}

#minutes-value{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

#study-form button:hover {
    background: #555;
}

#minutes {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    accent-color: #333;
    padding: 0;
}


/* Timer */
#timer-container {
    margin-top: 2rem;
    text-align: center;
}

#timer-display {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

#stop-btn {
    padding: 0.6rem 1rem;
    font-size: 1rem;
    border-radius: 6px;
    border: none;
    background: #c0392b;
    color: white;
    cursor: pointer;
    width: 40%;
}

#stop-btn:hover {
    background: #e74c3c;
}

.hidden {
    display: none;
}

#myChart {
  margin: 0 auto;
  width:  90vw;
  height: 83vh;
}

#dayChart{
  margin-top: 3rem;
  margin-bottom: 3rem;
  width:  85vw;
  height: 35vh;
}

.month-picker {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}

.month-picker button {
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 0.2em 0.5em;
  font-size: 1.2em;
  cursor: pointer;
  transition: background 0.2s, transform 0.1s;
}

.month-picker button:hover {
  background-color: #777;
}

.month-picker button:active {
  transform: scale(0.95);
}

.month-picker input[type="month"] {
  background-color: #444;
  color: #fff;
  border: 0.1em solid #666;
  border-radius: 6px;
  padding: 0.4em 0.8em;
  font-size: 1em;
  outline: none;
  width: 45vw;
}

.month-picker input[type="month"]:focus {
  border-color: #aaa;
  box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.4);
}
.month-picker input[type="month"]:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 5px rgba(74, 144, 226, 0.5);
}

.date-picker {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2vw;
}


.date-picker button {
  background-color: #555;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 0.2em 0.5em;
  font-size: 1.2em;
  cursor: pointer;
  transition: background 0.2s, transform 0.1s;
}

.date-picker button:hover {
  background-color: #777;
}

.date-picker button:active {
  transform: scale(0.95);
}

.date-picker input[type="date"] {
  background-color: #444;
  color: #fff;
  border: 0.1em solid #666;
  border-radius: 6px;
  padding: 0.4em 0.8em;
  font-size: 1em;
  outline: none;
  width: 45vw;
}

/* Focus sull'input */
.date-picker input[type="date"]:focus {
  border-color: #aaa;
  box-shadow: 0 0 0.5em rgba(255, 255, 255, 0.4);
}


.categorie-cards {
  display: flex;
  overflow-x: auto;
  padding-bottom: 0.7rem;
  justify-content: flex-start;
}

.selected{
    opacity: 0.6;
}


.cat {
  display: flex;
  flex-direction: row;
  padding: 0.5rem;
  font-weight: bold;
  background: linear-gradient(135deg, rgba(236, 244, 251, 0.4), #FFFFFF);
  border-radius: 6px;
  box-sizing: border-box;
  position: relative;
  margin: 0.5rem 0.2rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.mat-name{
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal.hidden {
  display: none;
}

.modal-content {
  background: #fff;
  padding: 1em;
  border-radius: 0.5em;
  width: 90%;
  text-align: center;
}

.modal-actions {
  margin-top: 1.5em;
  display: flex;
  justify-content: space-around;
}

.modal-actions button {
  padding: 0.5em 1em;
  border: none;
  border-radius: 0.3em;
  cursor: pointer;
}

#confirm-delete {
  background: #e74c3c;
  width: 100%;
  color: #fff;
  margin: 0.2rem;
}

.btn-delete{
    padding: 0 !important;
    margin-left: 0.1rem;
}

#cancel-delete {
  background: #ccc;
  width: 100%;
  margin: 0.2rem;
}

#delete-db-btn{
    background: #333;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    padding: 0.6rem;
    width: 100%;
}

.btn {
    flex: 1 1 0;
    padding: 0.825rem;
    margin-top: 0.5rem;
    border-radius: 6px;
    border: 0.0625rem solid #ccc;
    font-size: 0.875rem;
}

.toast {
  position: fixed;
  top: 1rem;
  left: 5.5rem;
  background: #2ecc71;
  color: #fff;
  padding: 0.75rem 1.25rem;
  border-radius: 6px;
  box-shadow: 0 0.25rem 0.75rem rgba(0,0,0,0.2);
  opacity: 0;
  transform: translateY(-50% ,1.25rem);
  transition: all 0.4s ease;
  z-index: 9999;
  font-size: 0.9rem;
  max-width: 90vw;
  word-break: break-word;
}

.toast.show {
  opacity: 1;
  transform: translateY(0);
}

.toast.error {
  background: #ff3b30;
}

#btnExportDB{
    background: #333;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    padding: 0.6rem;
    width: 100%;
}

#btnImportDB{
    background: #333;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    border: none;
    padding: 0.6rem;
    width: 100%;
}

input[type="file"] {
    width: 100%;
    padding: 0.6rem;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
}

.spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.spinner {
  border: 0.4em solid rgba(0,0,0,0.1);
  border-left-color: #007aff;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

/* Overlay per lo sfondo scuro */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

/* Contenitore del modulo */
.form-container {
    backdrop-filter: blur(5px);
    background: linear-gradient(135deg, rgba(236, 244, 251, 0.4), #FFFFFF);
    position: absolute;
    top: 0;
    margin-top: 3rem;
    flex-direction: column;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 13rem;
    text-align: center;
}


#nuoveOre, #nuoviMinuti{
  width: 40%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

/* Pulsante di salvataggio */
#saveBtn {
    background: #555;
    color: white;
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Pulsante di annullamento */
#cancelBtn {
  background:  #c0392b;
  color: white;
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Nascondi il modulo di default */
.hidden {
  display: none;
}


.esame {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    max-width: 100%;
    border-radius: 0.425rem;
    box-sizing: border-box;
    position: relative;
    margin: 0.5rem 0;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1),
            0 1px 2px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: background-color 0.3s ease;
    background: linear-gradient(135deg, rgba(236, 244, 251, 0.4), #FFFFFF);
}

.esame-header{
    font-size: 0.90rem;
    color: #5a6c7d;
    font-weight: 750;
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.esame-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 0.425rem;
    padding-right: 0.2rem;
    padding-left: 0.2rem;
    color: #2c3e50;
}
.voto-data {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.esame-content{
    flex-basis: 100%;
    max-width:100%
}
#esamiCards{
overflow-y: auto;
height: 75vh;
scrollbar-width: none;
}

.esami-container{
height: 90vh;
}

.materiaEsame {
  flex-basis: 65%;
  max-width: 65%;
  font-size: 1.25rem;
  font-weight: 500;
  white-space: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.add-btn{
    background: #555;
    color: white;
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    z-index: 10;
}

.elimina-btn {
  background:  #c0392b;
  color: white;
    width: 100%;
    padding: 0.5rem;
    margin: 0.5rem 0;
    margin-top: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    z-index: 10;
}
.btn-container{
    position: sticky;
    bottom: 5%;
}

.voto {
  font-size: 1.25rem;
  font-weight: 500;
  white-space: nowrap;
  overflow-x: auto;
  margin-left: 0.2rem;
  text-align: right;
  scrollbar-width: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.data{
    flex-basis: 35%;
    text-align: right;
    margin-right: 0.2rem;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.save-btn {
    background: #555;
    color: white;
    width: 100%;
    padding: 0.3rem;
    margin: 0.2rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

/* Pulsante di annullamento */
.cancel-btn {
  background:  #c0392b;
  color: white;
    width: 100%;
    padding: 0.3rem;
    margin: 0.2rem 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.esame-card.form-esame {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    backdrop-filter: blur(5px);
    background: linear-gradient(135deg, rgba(236, 244, 251, 0.4), #FFFFFF);
}

.esame-card.form-esame input {
    padding: 6px 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
}

.esame-card.form-esame .row {
    display: flex;
    gap: 10px;
}

.esame-card.form-esame .row input {
    flex: 1; /* Dividono lo spazio in maniera uniforme */
}
.esame-card.form-esame .button-row {
    display: flex;
    gap: 10px;
    justify-content: flex-end; /* Pulsanti a destra */
}



